.idc-table {
  .tools {
    text-align: right;
    padding-bottom: 2px;

    .ivu-icon {
      font-size: 18px;
      vertical-align: middle;
      cursor: pointer;
    }
    .ivu-icon:hover {
      color: #2d8cf0;
    }
  }
}

.idc-table-fixed {
  position: fixed;
  margin: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
